<div class="adicionar-lote">
    <!-- Barra superios -->
    <div class="ds-py-2 ds-d-flex ds-justify-content-between d ds-p-3 border-rounded-bt">
        <div class="ds-d-flex ds-align-items-center">
            <p class="ds-pr-2 ds-m-0">Data do lote:</p>
            <span>04/03/2024</span>
        </div>
        <div class="ds-d-flex ds-align-items-center">
            <p class="ds-pr-2 ds-m-0">Quantidade de títulos:</p>
            <span>0</span>
        </div>
        <div class="ds-d-flex ds-align-items-center">
            <p class="ds-pr-2 ds-m-0">Valor total dos títulos:</p>
            <span>R$ 0,00</span>
        </div>
        <div class="ds-d-flex ds-align-items-center">
            <p class="ds-pr-2 ds-m-0">Situação:</p>
            <ds-badge [labelBadge]="'Não enviado'" [icone]="''" [tipoBadge]="'GRAY-OUTLINE-DISABLED'"></ds-badge>
        </div>
    </div>

    <div class="adicionar-lote-main ds-d-flex">

        <!-- Adicionar os titulos -->
        <div class="adicionar-titulos ds-col-8 ds-p-3">
            <div class="adicionar-lote-inicial-start">
                <div class="ds-mb-3">
                    <h5>Adicionar títulos</h5>
                </div>

                <div class="adicionar-titulos-input">
                    <ds-input-select [labelInput]="'Tipo do título'" [placeholderInputSelect]="'Selecione'"
                        [listaOptions]="[{label: 'Cheque', valor: 'Cheque'}, {label: 'Duplicata', valor: 'Duplicata'}, {label: 'Nota promissóriria', valor: 'Nota Promissoria'}]"
                        [posicaoLista]="'BAIXO'"
                        (valueChangeEvento)="selecaoDeTipoDeTitulo($event.valor)"></ds-input-select>
                </div>

                <div class="nota-promissoria">
                    <div class="ds-row">
                        <div class="ds-col-4">
                            <ds-input-text [control]="formularioCadastroLote.controls.nomeTitulo"
                                [labelInput]="'Número do título'" [placeholderInputText]="''"
                                [erroLabel]="'um nome para o título valido!'"></ds-input-text>
                        </div>
                        <div class="ds-col-4">
                            <ds-input-text [control]="formularioCadastroLote.controls.valorTitulo"
                                [labelInput]="'Valor do título'" [erroLabel]="'o valor do título valido!'"
                                [placeholderInputText]="'0,00'" [icone]="'ds-icon-coin-less'"></ds-input-text>
                        </div>
                        <div class="ds-col-4">
                            <ds-input-date [control]="formularioCadastroLote.controls.vencimentoTitulo"
                                [labelInput]="'Vencimento'" [erroLabel]="'uma data de vencimento valida!'"
                                [placeholderInputDate]="'Placeholder'"></ds-input-date>
                        </div>
                    </div>

                    <div class="ds-my-3">
                        <h5>Pagador</h5>
                    </div>

                    <div class="ds-row">
                        <div class="ds-col-3">

                            <div class="rs-row">
                                <ds-input-text [control]="formularioCadastroLote.controls.nomePagador"
                                    [labelInput]="'Nome'" [placeholderInputText]="''"
                                    [erroLabel]="'um nome valido!'"></ds-input-text>
                            </div>
                        </div>

                        <div class="ds-col-9">
                            <ds-input-text [control]="formularioCadastroLote.controls.cpfCnpjPagador"
                                [labelInput]="'CPF/CNPJ'" [placeholderInputText]="''"
                                [erroLabel]="'um CPF ou CNPJ valido!'"></ds-input-text>
                        </div>
                    </div>
                </div>

                <div class="ds-d-flex ds-justify-content-end ds-my-4">
                    <div class="ds-d-flex">
                        <a href="/enviar-titulo">
                            <ds-button [labelButton]="'Cancelar'" [iconeEsquerda]="'ds-icon-close'"
                                [iconeDireita]="null" [isDesabilitado]="false" [tipoBotao]="'SYSTEM'"></ds-button>
                        </a>

                        <ds-button (click)="salvarLote()" [labelButton]="'Salvar título'"
                            [iconeEsquerda]="'ds-icon-check'" [iconeDireita]="null" [tipoBotao]="'SYSTEM'"
                            class="ds-ml-3"></ds-button>


                        <ds-button [labelButton]="'Enviar lote'" [iconeEsquerda]="null" [iconeDireita]="'ds-icon-right'"
                            [isDesabilitado]="true" [tipoBotao]="'SYSTEM'" class="ds-ml-3"></ds-button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Lateral com os titulos -->
        <div class="titulos ds-col-4 border-rounded-l ds-p-3">
            <h5 class="ds-mb-4">Títulos</h5>

            <div *ngIf="listaBoxTitulos.length === 0" class="lista-vazia">
                <app-sem-titulo></app-sem-titulo>
            </div>

            <div *ngIf="listaBoxTitulos.length > 0" class="com-titulos">
                <div>
                    <ds-input-search [labelInput]="'Label'" [placeholderInputSearch]="'Buscar título'"></ds-input-search>
                </div>
                <div>
                    <ds-checkbox [labelCheckbox]="'Marcar todos'" [formControl]="undefined" [isDesabilitado]="false"
                        [isChecked]="false" (changeEvento)="changeEvento($event)"></ds-checkbox>
                </div>
            
                <div class="titulos-inconsistentes">
                    <div class="ds-d-flex ds-mt-3">
                        <span class="ds-mr-1"><strong>Títulos inconsistentes</strong></span>
                        <ds-icon [icone]="'ds-icon-circle-info'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                    </div>
            
                    <div>
                        <div class="card-titulos ds-p-3 ds-mb-3">
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex">
                                    <div>
                                        <ds-checkbox [labelCheckbox]="''" [formControl]="undefined" [isDesabilitado]="false"
                                            [isChecked]="false" (changeEvento)="changeEvento($event)"></ds-checkbox>
                                    </div>
            
                                    <div class="ds-d-flex ds-ml-2">
                                        <ds-icon [icone]="'ds-icon-receipt-multiple'" [tooltipLabel]="'Tooltip'"
                                            [tooltipPosition]="'AUTO'" [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                        <span class="ds-ml-1">DP-01234</span>
                                    </div>
                                </div>
            
                                <div class="ds-d-flex">
                                    <div class="ds-mr-2">
                                        <ds-icon [icone]="'ds-icon-edit'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'PRIMARY'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                    <div>
                                        <ds-icon [icone]="'ds-icon-trash'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                </div>
                            </div>
            
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Valor</span>
                                    <span>R$: <strong>1.234.567.890,00</strong></span>
                                </div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Vencimento</span>
                                    <span>04/03/2024</span>
                                </div>
                            </div>
            
                            <div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>
                                        Pagador
                                    </span>
                                    <div class="ds-d-flex ds-justify-content-between">
                                        <p class="descricao-card-title ds-m-0">Pagador do Nome Grande Extenso de Muitos Caracteres
                                            Escritos Para Preencher Um Texto Gigante</p>
                                        <span class="descricao-card-identificacao">- 010.101.010-00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="card-titulos ds-p-3 ds-mb-3">
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex">
                                    <div>
                                        <ds-checkbox [labelCheckbox]="''" [formControl]="undefined" [isDesabilitado]="false"
                                            [isChecked]="false" (changeEvento)="changeEvento($event)"></ds-checkbox>
                                    </div>
            
                                    <div class="ds-d-flex ds-ml-2">
                                        <ds-icon [icone]="'ds-icon-invoice'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                        <span class="ds-ml-1">NP-23148A</span>
                                    </div>
                                </div>
            
                                <div class="ds-d-flex">
                                    <div class="ds-mr-2">
                                        <ds-icon [icone]="'ds-icon-edit'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'PRIMARY'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                    <div>
                                        <ds-icon [icone]="'ds-icon-trash'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                </div>
                            </div>
            
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Valor</span>
                                    <span>R$: <strong>1.234.567.890,00</strong></span>
                                </div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Vencimento</span>
                                    <span>04/03/2024</span>
                                </div>
                            </div>
            
                            <div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>
                                        Pagador
                                    </span>
                                    <div class="ds-d-flex ds-justify-content-between">
                                        <p class="descricao-card-title ds-m-0">Pagador do Nome Grande Extenso de Muitos Caracteres
                                            Escritos Para Preencher Um Texto Gigante</p>
                                        <span class="descricao-card-identificacao">- 010.101.010-00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- <div class="cheques">
                    <div class="ds-d-flex ds-mt-3 ds-mb-2">
                        <span class="ds-mr-1"><strong>Cheques</strong></span>
                    </div>
            
                    <div>
                        <div class="card-titulos ds-p-3 ds-mb-3">
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex">
                                    <div>
                                        <ds-checkbox [labelCheckbox]="''" [formControl]="undefined" [isDesabilitado]="false"
                                            [isChecked]="false" (changeEvento)="changeEvento($event)"></ds-checkbox>
                                    </div>
            
                                    <div class="ds-d-flex ds-ml-2">
                                        <ds-icon [icone]="'ds-icon-receipt-edit'" [tooltipLabel]="'Tooltip'"
                                            [tooltipPosition]="'AUTO'" [corIcone]="'CONFIRM'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                        <span class="ds-ml-1">CH-023148</span>
                                    </div>
                                </div>
            
                                <div class="ds-d-flex">
                                    <div class="ds-mr-2">
                                        <ds-icon [icone]="'ds-icon-edit'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'PRIMARY'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                    <div>
                                        <ds-icon [icone]="'ds-icon-trash'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                </div>
                            </div>
            
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Valor</span>
                                    <span>R$: <strong>1.234.567.890,00</strong></span>
                                </div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Vencimento</span>
                                    <span>04/03/2024</span>
                                </div>
                            </div>
            
                            <div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>
                                        Pagador
                                    </span>
                                    <div class="ds-d-flex ds-justify-content-between">
                                        <p class="descricao-card-title ds-m-0">Pagador do Nome Grande Extenso de Muitos Caracteres
                                            Escritos Para Preencher Um Texto Gigante</p>
                                        <span class="descricao-card-identificacao">- 010.101.010-00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="card-titulos ds-p-3 ds-mb-3">
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex">
                                    <div>
                                        <ds-checkbox [labelCheckbox]="''" [formControl]="undefined" [isDesabilitado]="false"
                                            [isChecked]="false" (changeEvento)="changeEvento($event)"></ds-checkbox>
                                    </div>
            
                                    <div class="ds-d-flex ds-ml-2">
                                        <ds-icon [icone]="'ds-icon-receipt-edit'" [tooltipLabel]="'Tooltip'"
                                            [tooltipPosition]="'AUTO'" [corIcone]="'CONFIRM'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                        <span class="ds-ml-1">CH-023148</span>
                                    </div>
                                </div>
            
                                <div class="ds-d-flex">
                                    <div class="ds-mr-2">
                                        <ds-icon [icone]="'ds-icon-edit'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'PRIMARY'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                    <div>
                                        <ds-icon [icone]="'ds-icon-trash'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                </div>
                            </div>
            
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Valor</span>
                                    <span>R$: <strong>1.234.567.890,00</strong></span>
                                </div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Vencimento</span>
                                    <span>04/03/2024</span>
                                </div>
                            </div>
            
                            <div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>
                                        Pagador
                                    </span>
                                    <div class="ds-d-flex ds-justify-content-between">
                                        <p class="descricao-card-title ds-m-0">Pagador do Nome Grande Extenso de Muitos Caracteres
                                            Escritos Para Preencher Um Texto Gigante</p>
                                        <span class="descricao-card-identificacao">- 010.101.010-00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div> -->
            
                <!-- <div class="duplicatas">
                    <div class="ds-d-flex ds-mt-3 ds-mb-2">
                        <span class="ds-mr-1"><strong>Duplicatas</strong></span>
                    </div>
            
                    <div>
                        <div class="card-titulos ds-p-3 ds-mb-3">
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex">
                                    <div>
                                        <ds-checkbox [labelCheckbox]="''" [formControl]="undefined" [isDesabilitado]="false"
                                            [isChecked]="false" (changeEvento)="changeEvento($event)"></ds-checkbox>
                                    </div>
            
                                    <div class="ds-d-flex ds-ml-2">
                                        <ds-icon [icone]="'ds-icon-receipt-multiple'" [tooltipLabel]="'Tooltip'"
                                            [tooltipPosition]="'AUTO'" [corIcone]="'CONFIRM'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                        <span class="ds-ml-1">CH-023148</span>
                                    </div>
                                </div>
            
                                <div class="ds-d-flex">
                                    <div class="ds-mr-2">
                                        <ds-icon [icone]="'ds-icon-edit'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'PRIMARY'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                    <div>
                                        <ds-icon [icone]="'ds-icon-trash'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                </div>
                            </div>
            
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Valor</span>
                                    <span>R$: <strong>1.234.567.890,00</strong></span>
                                </div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Vencimento</span>
                                    <span>04/03/2024</span>
                                </div>
                            </div>
            
                            <div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>
                                        Pagador
                                    </span>
                                    <div class="ds-d-flex ds-justify-content-between">
                                        <p class="descricao-card-title ds-m-0">Pagador do Nome Grande Extenso de Muitos Caracteres
                                            Escritos Para Preencher Um Texto Gigante</p>
                                        <span class="descricao-card-identificacao">- 010.101.010-00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="card-titulos ds-p-3 ds-mb-3">
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex">
                                    <div>
                                        <ds-checkbox [labelCheckbox]="''" [formControl]="undefined" [isDesabilitado]="false"
                                            [isChecked]="false" (changeEvento)="changeEvento($event)"></ds-checkbox>
                                    </div>
            
                                    <div class="ds-d-flex ds-ml-2">
                                        <ds-icon [icone]="'ds-icon-receipt-multiple'" [tooltipLabel]="'Tooltip'"
                                            [tooltipPosition]="'AUTO'" [corIcone]="'CONFIRM'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                        <span class="ds-ml-1">CH-023148</span>
                                    </div>
                                </div>
            
                                <div class="ds-d-flex">
                                    <div class="ds-mr-2">
                                        <ds-icon [icone]="'ds-icon-edit'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'PRIMARY'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                    <div>
                                        <ds-icon [icone]="'ds-icon-trash'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                </div>
                            </div>
            
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Valor</span>
                                    <span>R$: <strong>1.234.567.890,00</strong></span>
                                </div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Vencimento</span>
                                    <span>04/03/2024</span>
                                </div>
                            </div>
            
                            <div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>
                                        Pagador
                                    </span>
                                    <div class="ds-d-flex ds-justify-content-between">
                                        <p class="descricao-card-title ds-m-0">Pagador do Nome Grande Extenso de Muitos Caracteres
                                            Escritos Para Preencher Um Texto Gigante</p>
                                        <span class="descricao-card-identificacao">- 010.101.010-00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div> -->
            
                <!-- <div class="notas-promissorias">
                    <div class="ds-d-flex ds-mt-3 ds-mb-2">
                        <span class="ds-mr-1"><strong>Notas promissórias</strong></span>
                    </div>
            
                    <div>
                        <div class="card-titulos ds-p-3 ds-mb-3">
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex">
                                    <div>
                                        <ds-checkbox [labelCheckbox]="''" [formControl]="undefined" [isDesabilitado]="false"
                                            [isChecked]="false" (changeEvento)="changeEvento($event)"></ds-checkbox>
                                    </div>
            
                                    <div class="ds-d-flex ds-ml-2">
                                        <ds-icon [icone]="'ds-icon-invoice'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'CONFIRM'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                        <span class="ds-ml-1">NP-23148A</span>
                                    </div>
                                </div>
            
                                <div class="ds-d-flex">
                                    <div class="ds-mr-2">
                                        <ds-icon [icone]="'ds-icon-edit'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'PRIMARY'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                    <div>
                                        <ds-icon [icone]="'ds-icon-trash'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                </div>
                            </div>
            
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Valor</span>
                                    <span>R$: <strong>1.234.567.890,00</strong></span>
                                </div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Vencimento</span>
                                    <span>04/03/2024</span>
                                </div>
                            </div>
            
                            <div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>
                                        Pagador
                                    </span>
                                    <div class="ds-d-flex ds-justify-content-between">
                                        <p class="descricao-card-title ds-m-0">Pagador do Nome Grande Extenso de Muitos Caracteres
                                            Escritos Para Preencher Um Texto Gigante</p>
                                        <span class="descricao-card-identificacao">- 010.101.010-00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <div class="card-titulos ds-p-3 ds-mb-3">
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex">
                                    <div>
                                        <ds-checkbox [labelCheckbox]="''" [formControl]="undefined" [isDesabilitado]="false"
                                            [isChecked]="false" (changeEvento)="changeEvento($event)"></ds-checkbox>
                                    </div>
            
                                    <div class="ds-d-flex ds-ml-2">
                                        <ds-icon [icone]="'ds-icon-invoice'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'CONFIRM'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                        <span class="ds-ml-1">NP-23148A</span>
                                    </div>
                                </div>
            
                                <div class="ds-d-flex">
                                    <div class="ds-mr-2">
                                        <ds-icon [icone]="'ds-icon-edit'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'PRIMARY'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                    <div>
                                        <ds-icon [icone]="'ds-icon-trash'" [tooltipLabel]="'Tooltip'" [tooltipPosition]="'AUTO'"
                                            [corIcone]="'DANGER'" [tamanhoIcone]="'MEDIUM'"></ds-icon>
                                    </div>
                                </div>
                            </div>
            
                            <div class="ds-d-flex ds-justify-content-between ds-mb-2">
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Valor</span>
                                    <span>R$: <strong>1.234.567.890,00</strong></span>
                                </div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>Vencimento</span>
                                    <span>04/03/2024</span>
                                </div>
                            </div>
            
                            <div>
                                <div class="ds-d-flex ds-flex-column">
                                    <span>
                                        Pagador
                                    </span>
                                    <div class="ds-d-flex ds-justify-content-between">
                                        <p class="descricao-card-title ds-m-0">Pagador do Nome Grande Extenso de Muitos Caracteres
                                            Escritos Para Preencher Um Texto Gigante</p>
                                        <span class="descricao-card-identificacao">- 010.101.010-00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>
                </div> -->
            
            </div>

        </div>

    </div>
</div> 