

.adicionar-lote-main{
    height: 100%;
    min-height: calc(100vh - 240px);
}

.adicionar-titulos-input{
    width: 100%;
    max-width: 340px;
}

.border-rounded{
    border: 1px solid #CED4DA;
}

.border-rounded-bt{
    border-bottom: 1px solid #CED4DA;
}

.border-rounded-l{
    border-left: 1px solid #CED4DA;
}

.lista-titulos-container{
    flex-direction: column;
}

.titulos-box{
    width: 100%;
}

/* Titulos */

.card-titulos{
    border-radius: 4px;
    border: 1px solid var(--Main-Danger-Base, #EE2D3D);
    background: var(--Grayscale-0, #FFF);   
}

.descricao-card-title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    width: 100%;
}

.descricao-card-identificacao{
    width: 180px;
    text-align: end;
}