<header class="header ds-row center ds-bg-primary-400 ds-color-primary-100">
    <div class="ds-d-flex ds-align-items-center ds-justify-content-end ds-px-4">
        <div class="ds-d-flex ds-align-items-center cursor-pointer">
            <ds-icon
                [icone]="'ds-icon-people-avatar'"
                [tooltipLabel]="'Tooltip'"
                [tooltipPosition]="'AUTO'"
                [corIcone]="'GRAY'"
                [tamanhoIcone]="'LARGE'"
            ></ds-icon>
            <span class="ds-px-2">{{ nomeUsuario }}</span>
        </div>
        
        <ds-icon
            [icone]="'ds-icon-sign-out'"
            [tooltipLabel]="'Tooltip'"
            [tooltipPosition]="'BAIXO'"
            [corIcone]="'GRAY'"
            [tamanhoIcone]="'LARGE'"
            class="cursor-pointer"
            (click)="sairDoSistema()"
            >
        </ds-icon>
    </div>
</header>    