<div class="account">
    <div class="center ds-mb-3">
        <img src="../../../../assets/image/logo.svg" alt="Logo da decisão sistemas" />
    </div>

    <h2 class="title center ds-mb-2">Criar conta</h2>
    <p class="center">Cria sua conta e desfrute de todo o sistema!</p>


    <form class="ds-row center ds-mb-3 ds-mx-0">
        <div class="ds-row center ds-mb-3 ds-mx-0 m-0 p-0">
            <div class="ds-col-4 w-full m-0 p-0">
                <ds-input-text class="w-full"[labelInput]="'Nome'" [placeholderInputText]="'Insira seu nome'"></ds-input-text><!-- [control]="criarContaForm.controls.nome"
                [errosCustomizados]="errosCustomizados" -->
            </div>
        </div>
        <div class="ds-row center ds-mb-3 ds-mx-0 p-0">
            <div class="ds-col-4 w-full m-0 p-0">
                <ds-input-text class="w-full" [labelInput]="'E-mail'" [placeholderInputText]="'Insira seu e-mail'"></ds-input-text><!-- [control]="criarContaForm.controls.email"
              [errosCustomizados]="errosCustomizados" -->
            </div>
        </div>
        <div class="ds-row center ds-mb-3 ds-mx-0 p-0">
            <div class="ds-col-4 w-full m-0 p-0">
                <ds-input-text class="w-full" [labelInput]="'Senha'" [placeholderInputText]="'Insira a nova senha'"></ds-input-text><!--  [control]="criarContaForm.controls.senha"
                [errosCustomizados]="errosCustomizados"
                (valueChangeEvento)="
                  verificarSenha($event, criarContaForm.controls.senha)
                " -->
            </div>
        </div>
        <div class="ds-row center ds-mb-3 ds-mx-0 p-0">
            <div class="ds-col-4 w-full m-0 p-0">
                <ds-input-text class="w-full" [labelInput]="'Confirmar senha'"
                    [placeholderInputText]="'Repita a senha inserida'"></ds-input-text><!-- [control]="criarContaForm.controls.senha2"
                [errosCustomizados]="errosCustomizados"
                (valueChangeEvento)="
                  verificarSenha($event, criarContaForm.controls.senha2);
                  verificarSeSenhasSaoIguais()
                " -->
            </div>
        </div>
        <div class="ds-row center ds-mb-3 ds-mx-0 p-0">
            <div class="ds-col-4 w-full m-0 p-0">
                <ds-button class="ds-d-inline-block w-full" [tipoBotao]="'PRIMARY'"
                    [labelButton]="'Criar conta'"></ds-button><!-- [isDesabilitado]="verificarSeFormularioEInvalido()"
                (click)="criarConta()" -->
            </div>
        </div>
        <div class="text-start">* Campos obrigatórios</div>

        <div class="center ">
            Já possui cadastro?
            <a class="ds-ml-2" [routerLink]="'/login'">Faça Log in</a>
        </div>
    </form>
</div>