<div class="listar-titulos">
    <div class="ds-d-flex ds-justify-content-between ds-align-items-center ds-py-4 ds-px-3">
        <ds-button
            [labelButton]="'Novo lote'"
            [iconeEsquerda]="'ds-icon-add'"
            [iconeDireita]="null"
            [isDesabilitado]="false"
            [tipoBotao]="'PRIMARY'"
            routerLink="/enviar-titulo/adicionar-titulo"
        ></ds-button>
        <ds-button
            [labelButton]="'Filtro'"
            [iconeEsquerda]="'ds-icon-funnel'"
            [iconeDireita]="null"
            [isDesabilitado]="false"
            [tipoBotao]="'SECONDARY'"
        ></ds-button>
    </div>

    <div *ngIf="listaBoxLotes.length === 0" class="lista-vazia" >
        <app-lista-vazia></app-lista-vazia>
    </div>
    
    <div *ngIf="listaBoxLotes.length > 0" class="lista-titulos ds-row border-rounded ds-pb-4 ds-px-3"> 
        <app-lista-titulos></app-lista-titulos>
    </div>
</div>   