<div class="login ds-row">
    <div class="text-center">
        <img src="../../../../assets/image/logo.svg" alt="Logo da decisão sistemas" />
    </div>
    
    <div class="text-center">
        <h2 class="ds-color-secondary-300 ds-pt-3">Seja bem vindo!</h2>
        <p class="ds-pt-2">Insira seus dados e acesse a plataforma</p>
    </div>

    <div>
         
        <div class="ds-pb-3 ds-row">
            <ds-input-text 
            [labelInput]="'E-mail'"  
            [placeholderInputText]="'Insira seu e-mail'" 
            [control]="loginForm.controls.email" 
            [errosCustomizados]="errosPersonalizados"
            ></ds-input-text>
        </div>
 
        <div class="ds-pb-3 ds-row">
            <ds-input-text 
                [labelInput]="'Senha'" 
                [placeholderInputText]="'Insira a nova senha'"
                [control]="loginForm.controls.senha"
                [errosCustomizados]="errosPersonalizados"
            ></ds-input-text>
        </div>

        <div class="ds-pb-3 ds-row">
            <ds-checkbox [labelCheckbox]="'Lembrar-me'"></ds-checkbox>
        </div>
  
        <div class="ds-pb-3 ds-row "> 
            <ds-button 
                [tipoBotao]="'PRIMARY'"
                [labelButton]="'Entrar'"
                class="ds-col-12"
                (click)="login()"
            ></ds-button>
        </div> 

    </div>
    
    <div class="ds-row">
        <span>* Campos obrigatórios</span>
    </div>

    <div class="ds-pt-3 text-center">
        <span>Já possui cadastro?</span>
        <a class="ds-ml-2" [routerLink]="'/create-account'">Faça Log in</a>
    </div>
</div>