<div class="adicionar-lote">
    <!-- ADICIONAR TITULO START -->
    <div class="ds-py-2 ds-d-flex ds-justify-content-between d ds-p-3 border-rounded-bt">
        <div class="ds-d-flex ds-align-items-center">
            <p class="ds-pr-2">Data do lote:</p>
            <span>04/03/2024</span>
        </div>
        <div class="ds-d-flex ds-align-items-center">
            <p class="ds-pr-2">Quantidade de títulos:</p>
            <span>0</span>
        </div>
        <div class="ds-d-flex ds-align-items-center">
            <p class="ds-pr-2">Valor total dos títulos:</p>
            <span>R$ 0,00</span>
        </div>
        <div class="ds-d-flex ds-align-items-center">
            <p class="ds-pr-2">Situação:</p>
            <ds-badge [labelBadge]="'Não enviado'" [icone]="''" [tipoBadge]="'GRAY-OUTLINE-DISABLED'"></ds-badge>
        </div>
    </div>

    <div class="adicionar-lote-main ds-d-flex">
        <div class="adicionar-titulos ds-col-8 ds-p-3">
            <div class="adicionar-lote-inicial-start">
                <div class="ds-mb-3">
                    <h5>Adicionar títulos</h5>
                </div>

                <div class="adicionar-titulos-input">
                    <ds-input-select [labelInput]="'Tipo do título'" [placeholderInputSelect]="'Selecione'"
                        [listaOptions]="[{label: 'Cheque', valor: 'Cheque'}, {label: 'Duplicata', valor: 'Duplicata'}, {label: 'Nota promissóriria', valor: 'Valor 2'}]"
                        [posicaoLista]="'BAIXO'"></ds-input-select>
                </div>

                <!-- START: Nota promissória -->
                <!-- <app-nota-promissoria></app-nota-promissoria> -->
                
                <!-- Cheque -->
                <!-- <app-cheque></app-cheque> -->

            </div>
        </div>

        <!-- TÍTULOS -->
        <div class="titulos ds-col-4 border-rounded-l ds-p-3">
            <h5 class="ds-mb-4">Títulos</h5>

            <div class="sem-title">
                <div class="sem-title-card">
                    <img class="ds-mb-3" src="../../../../../assets/image/no-title.svg" alt="">
                    <h5 class="ds-mb-2">Nenhum título adicionado ainda.</h5>
                    <p>Após incluir o primeiro, você poderá visualizar a lista de títulos aqui</p>
                </div>
            </div>

            <div>

            </div>

        </div>
    </div>
</div>