<div class="create-account ds-row">
    <div>
        <img src="../../../../assets/image/logo.svg" alt="Logo da decisão sistemas" />
    </div>
    
    <div>
        <h2 class="ds-color-secondary-300 ds-pt-3">Criar conta</h2>
        <p class="ds-pt-2">Cria sua conta e desfrute de todo o sistema!</p>
    </div>

    <form class="center ds-align-items-center ds-align-items-center ds-flex-column">
        <div class="ds-pt-3 ds-row ds-col-6">
            <ds-input-text 
                [labelInput]="'Nome'" 
                [placeholderInputText]="'Insira seu nome'" 
            ></ds-input-text>
        </div>   
 
        <div class="ds-pt-3 ds-row ds-col-6">
            <ds-input-text 
            [labelInput]="'E-mail'" 
            [placeholderInputText]="'Insira seu e-mail'"
            ></ds-input-text>
        </div>

        <div class="ds-pt-3 ds-row ds-col-6">
            <ds-input-text
                [labelInput]="'Senha'" 
                [placeholderInputText]="'Insira a nova senha'"
            ></ds-input-text>
        </div>

        <div class="ds-pt-3 ds-row ds-col-6">
            <ds-input-text 
                [labelInput]="'Confirmar senha'"
                [placeholderInputText]="'Repita a senha inserida'"
            ></ds-input-text>
        </div>

        <div class="ds-pb-3 ds-pt-3 ds-row ds-col-6">
            <ds-button 
                [tipoBotao]="'PRIMARY'"
                [labelButton]="'Criar conta'"
                class="ds-col-12"
            ></ds-button>
        </div>
    </form>

    <div>
        <span>* Campos obrigatórios</span>
    </div>

    <div class="ds-pt-3">
        <span>Já possui cadastro?</span>
        <a class="ds-ml-2" [routerLink]="'/'">Faça Log in</a>
    </div>
</div>
